.modal{
  display:none;
  position:fixed;
  inset:0;
  background:rgba(0,0,0,.6);
  justify-content:center;
  align-items:center;
  z-index:999;
}
.modal-content{
  background:#fff;
  width:90%;
  max-width:400px;
  padding:15px;
  border-radius:12px;
}
.close{
  float:right;
  cursor:pointer;
  color:red;
}
