body{
  margin:0;
  font-family:Arial, sans-serif;
  background:#f6f6f6;
}
.container{
  max-width:500px;
  margin:auto;
  padding:15px;
}
.card{
  background:#fff;
  padding:15px;
  border-radius:12px;
  margin-bottom:15px;
  box-shadow:0 2px 8px rgba(0,0,0,.08);
  cursor:pointer;
}
img{
  width:100%;
  border-radius:12px;
}
.price{
  color:#2e7d32;
  font-weight:bold;
}
button{
  width:100%;
  padding:15px;
  background:#25D366;
  color:#fff;
  border:none;
  border-radius:10px;
  font-size:16px;
}
